services:
  db:
    image: mariadb:11.7.2
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_USER: user
      MARIADB_PASSWORD: password
    ports:
      - 3306:3306
    volumes:
      - type: bind
        source: /srv/mariadb
        target: /var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
